/* 方相同代码的css *

/* 使得版心居中 */
.wrapper{
    margin: 0 auto;
    width: 1240px;
}
/* 清除浮动 */
.clearfix::before,
.clearfix::after{
    content: "";
    display: table;
}
.clearfix::after{
    clear: both;
}
/* 快捷导航 */
.short{
    height: 52px;
    background-color: #333333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.short .wrapper{
    height: 52px;
}
.short .wrapper ul{
    float: right;
}
.short .wrapper ul li{
    line-height: 52px;
}
.short .wrapper ul li a{

    padding: 0 17px;
    border-right: 1px solid #666;

	font-family: PingFangSC-Regular;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #dcdcdc;
}
.short .wrapper ul li:last-child a{
    border: none;
}
.short .wrapper ul a span{
    margin-right: 5px;
    vertical-align: middle;
    display: inline-block;
    height: 17px;
    width: 11px;
    background-image: url(../images/sprites.png);
    background-position: -160px -70px;
}
.third{
    height: 135px;
    width: 100%;
    background-color: #f5f5f5;

        position: fixed;
        top: 52px;
        left: 0;
        z-index: 1;
}
.navigation{
    position: relative;
}
.navigation h1 img{
    float: left;
    margin: 30px 48px 30px 0;
    width: 207px;
    height: 70px;
}
/* 导航标间页 */
.navigation ul {
    float: left;
}
.navigation ul li {
    line-height: 130px;
    margin-right: 48px;
}
/* 导航链接 */
.navigation ul li a{
    /*链接与下边框的间隙 */
    padding-bottom: 10px ;
}
.navigation ul li:last-child{
    margin-right: 0;
}
.navigation ul li a:hover{
    color: #55c4aa;
    border-bottom: 1px solid #55c4aa;
}

.navigation .text{
    background-color: #fff;
    float: left;
    width: 172px;
	height: 30px;
    margin: 50px 0 50px 85px;
    box-shadow: 0px 2px 3px 0px 
    rgba(118, 118, 118, 0.2);
    border-radius: 20px;
}
/* 输入文本框 */
.navigation .text input{
    float: right;
    padding-left: 10px;
    width: 140px;
	height: 30px;
}
/* 按钮图片 */
.navigation .text .button{
    display: inline-block;
    /* 使得按钮基线对齐， */
    vertical-align: middle;
    background-image: url(../images/sprites.png);
    width:18px;
    height: 18px;
    background-position: -79px -69px;
}
.navigation .bottom{
    display: inline-block;
    vertical-align: middle;
    background-image: url(../images/sprites.png);
    height: 30px;
    width: 22px;
    background-position: -120px -70px;
}
/* 购物车 */
.navigation .box{
    float: left;
    margin: 52px 0 55px 15px;
}

/* 最下面的版权 *,将这个分成上下两个部分，下面那个 部分又分成两个部分*/
.final{
    margin-top: 0px;
    height: 300px;
    background-color: #333333;
}
/* 因为卡面已经把wrapper加入到这个里面，而wrapper是有宽度 */
.final .top{
    height: 175px;
    border-bottom: 2px solid #434343;
    display: flex;
    justify-content: center;
    align-items: center;
}
.final .top ul{
    height: 70px;
    position: relative;
}
.final .top li{
    width: 195px;
    height: 58px;
}
.final .top li:first-child{
    margin-left: 130px;
}
.final .top li:nth-child(2),
.final .top li:nth-child(3){
    margin-left: 200px;
}
.top li:last-child{
    margin-right: 125px;
}
.top ul li span{
    line-height: 58px;
    width: 110px;
	height: 26px;
	font-family: PingFangSC-Light;
	font-size: 28px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #ffffff;
}
/* 开始放入图片 */
.top ul li .one{
    position: absolute;
    left: 60px;

    display: inline-block;
    background-image: url(../images/sprites.png);
    height: 60px;
    width: 60px;
    background-position: 0px 0px;
}
.top ul li .tow{
    position: absolute;
    left: 450px;

    display: inline-block;
    background-image: url(../images/sprites.png);
    height: 60px;
    width: 60px;
    background-position: -130px 0px;
}
.top ul li .three{
    position: absolute;
    right: 330px;
    display: inline-block;
    background-image: url(../images/sprites.png);
    height: 60px;
    width: 60px;
    background-position: -65px 0px;
}
/* 版权信息 */
.final .low{
    margin-top: 45px;
    /* width: 600px; */
    height: 48px;
}
.low .very{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.low li{
    height: 14px;
    border-right: 1px solid #999999;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.low li:first-child{
    padding-right: 10px;
}
.low li:last-child{
    border-right: none;
}
.low ul li a{
    font-family: PingFangSC-Light;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #999999;
}
.low .info{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info p{
	font-family: PingFangSC-Light;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #999999;
}