/* 文本中心内容 */

.banner{
    /* 因为下面加了浮动，这里要消除浮动的影响，不然content的内容会掉下来一点 */
    overflow: hidden;
    margin-top: 188px;
	height: 550px;
    width: 1100px;
	background-color: #f5f5f5;
    /* 把图片当场背景图 */
    background-image: url(../uploads/banner_1.png);
    background-size: 1110px 550px;
    z-index: -1;

}
.banner .content{
    float: left;
    width: 251px;
	height: 550px;
	background-color: #000000;
	opacity: 0.8;
}
.content dl{
    height: 50px;
    position: relative;
    cursor: pointer;
}
.content dl dt,
.content dl dd{
    display: inline-block;
}
.content dl dt{
    margin-right:5px;
    margin-left: 40px;
}
.content a{
	height: 14px;
	font-family: PingFangSC-Regular;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #ffffff;
    line-height: 50px;
}
/* 箭头标签 */
.content dl .one{
    display: inline-block;
    background-image: url(../images/sprites.png);
    height: 12px;
    width: 8px;
    background-position: -40px -110px;
    /* 箭头的定位 */
    position: absolute;
    right: 30px;
    top: 20px;
    vertical-align: middle;
}
.content dl .tow{
    display: inline-block;
    background-image: url(../images/sprites.png);
    height: 12px;
    width: 8px;
    background-position: -40px -110px;
    /* 箭头的定位 */
    position: absolute;
    right: 30px;
    top: 20px;
    vertical-align: middle;
}
.content dl .three{
    display: inline-block;
    background-image: url(../images/sprites.png);
    height: 12px;
    width: 8px;
    background-position: -40px -110px;
    /* 箭头的定位 */
    position: absolute;
    right: 30px;
    top: 20px;
    vertical-align: middle;
}
.content dl .four{
    display: inline-block;
    background-image: url(../images/sprites.png);
    height: 12px;
    width: 8px;
    background-position: -40px -110px;
    /* 箭头的定位 */
    position: absolute;
    right: 30px;
    top: 20px;
    vertical-align: middle;
}
.content dl .five{
    display: inline-block;
    background-image: url(../images/sprites.png);
    height: 12px;
    width: 8px;
    background-position: -40px -110px;
    /* 箭头的定位 */
    position: absolute;
    right: 30px;
    top: 20px;
    vertical-align: middle;
}

.content dl .six{
    display: inline-block;
    background-image: url(../images/sprites.png);
    height: 12px;
    width: 8px;
    background-position: -40px -110px;
    /* 箭头的定位 */
    position: absolute;
    right: 30px;
    top: 20px;
    vertical-align: middle;
}
.content dl .seven{
    display: inline-block;
    background-image: url(../images/sprites.png);
    height: 12px;
    width: 8px;
    background-position: -40px -110px;
    /* 箭头的定位 */
    position: absolute;
    right: 30px;
    top: 20px;
    vertical-align: middle;
}
.content dl .eight{
    display: inline-block;
    background-image: url(../images/sprites.png);
    height: 12px;
    width: 8px;
    background-position: -40px -110px;
    /* 箭头的定位 */
    position: absolute;
    right: 30px;
    top: 20px;
    vertical-align: middle;
}
.content dl .nine{
    display: inline-block;
    background-image: url(../images/sprites.png);
    height: 12px;
    width: 8px;
    background-position: -40px -110px;
    /* 箭头的定位 */
    position: absolute;
    right: 30px;
    top: 20px;
    vertical-align: middle;
}
.content dl .ten{
    display: inline-block;
    background-image: url(../images/sprites.png);
    height: 12px;
    width: 8px;
    background-position: -40px -110px;
    /* 箭头的定位 */
    position: absolute;
    right: 30px;
    top: 20px;
    vertical-align: middle;
}

.content dl .eleven{
    display: inline-block;
    background-image: url(../images/sprites.png);
    height: 12px;
    width: 8px;
    background-position: -40px -110px;
    /* 箭头的定位 */
    position: absolute;
    right: 30px;
    top: 20px;
    vertical-align: middle;
}
.content dl:hover{
    background-color: #27ba9b;
}
.banner .flat{
    position: relative;
    float: right;
    width: 989px;
    height: 550px;
    display: flex;
    align-items: center;
}
.flat .right{
    width: 45px;
	height: 44px;
    border-radius: 50%;
	background-color: #000000;
	opacity: 0.2;

    position: absolute;
    right: 10px;
    display: inline-block;
    background-image: url(../images/sprites.png);
    background-position: -20px -60px;
}
.flat .left{
    width: 45px;
	height: 44px;
    border-radius: 50%;
	background-color: #000000;
	opacity: 0.2;

    position: absolute;
    left: 10px;
    display: inline-block;
    background-image: url(../images/sprites.png);
    background-position: 10px -60px;
}
/* 商品信息 */
.goods{
    width: 1100px;
	height: 1050px;
    background-color: #ffffff;
}
.goods .all{
    margin-top: 30px;
    height: 514px;
    background-color: #fff;
}
.goods .message{
    position: relative;
    height: 66px;
    background-color: #ffffff;
}
.message h3{
    display: inline-block;
    margin-right: 25px;
	font-family: PingFangSC-Regular;
	font-size: 29px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #333333;
    line-height: 66px;
}
.message .duoduo,
.message .look{
    font-family: PingFangSC-Regular;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #999999;
    line-height: 66px;
}
.goods .message .arrow{
    position: absolute;
    display: inline-block;
    background-image: url(../images/sprites.png);
    height: 30px;
    width: 20px;
    right: 0;
    top: 20px;
    background-position: 0px -103px; 
}
.message .look{
    position: absolute;
    right: 30px;
}
.text ul li{
    height: 405px;
    width: 270px;
    margin-right: 5px;
}
.text ul li:last-child{
    margin-right: 0;
}
/* 统一设计图片的宽高 */
.text ul li img{
	width: 270px;
	height: 305px;
	background-color: #000000;
}
.text ul li .wares{
	height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
	background-color: #f0f9f4;
}
.text ul li .wares p{
    text-align: center;
    font-family: PingFangSC-Regular;
	font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #333333;
}
.text ul li .wares span{
    color: #9a2e1f;
}
/* 第二推荐 */
.text1 ul li{
    height: 405px;
    width: 270px;
    margin-right: 5px;
}
.text1 ul li:last-child{
    margin-right: 0;
}
/* 统一设计图片的宽高 */
.text1 ul li img{
	width: 270px;
	height: 305px;
	background-color: #000000;
}
.text1 ul li .wares1{
	height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
	background-color: #f0f9f4;
}
.text1 ul li .wares1 p{
    text-align: center;
    font-family: PingFangSC-Regular;
	font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #333333;
}
.text1 ul li .wares1 span{
    font-family: PingFangSC-Regular;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #999999;
}

/* 热门品牌 */
.hot{
	height: 466px;
    width: 100%;
	background-color: #f5f5f5;
}
.hot .nav{
    position: relative;
    width: 1100px;
    height: 80px;
}
.hot .nav h3{
    display: inline-block;
    margin-right: 20px;

    font-family: PingFangSC-Regular;
	font-size: 29px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #333333;
}
.hot .nav .dive{
    font-family: PingFangSC-Regular;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #999999;
    line-height: 112px;
}
.hot .nav .run{
    display: inline-block;
    position: absolute;
    height: 30px;
    width: 25px;
    right: 0;
    top: 41px;
}
.hot .nav .keep{
    position: absolute;
    height: 20px;
    width: 15px;
    right: 25px;
    top: 41px;
}
.hot .nav .keep:hover,
.hot .nav .run:hover{
    color: #27ba9b;
}
.hot .hance{
    height: 354px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 热门信息 */
.hot .hance ul li{
    width: 218px;
	height: 312px;
    margin-right: 5px;
}
.hot .hance ul li:last-child{
    margin-right: 0;
}
.hot .hance ul li img{
    width: 218px;
	height: 312px;
}
/* 百货精选 */
.general{
    width: 100%;
    height: 2895px;
    background-color: #fff;
}
/* 美食 */
.general .food{
    position: relative;
    width: 1110px;
    height: 92px;
}
.food .mark{
    height: 92px;
    display: flex;
    background-color: #fff;
    align-items: center;
}
.food .mark h3{
    display: inline-block;
    position: absolute;
    left: 0;
}
/* 查看全部 */
.food .mark span{
    position: absolute;
    right: 20px;
    top :38px;
    margin: 0 auto;
    font-family: PingFangSC-Regular;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #999999;
}
.food .mark a .biu{
    position: absolute;
    right: 0;
    top: 44px;
    display: inline-block;
    background-image: url(../images/sprites.png);
    height: 12px;
    width: 7px;
    background-position: 0 -110px;
    vertical-align: middle;
}
.food .table{
    position: absolute;
    left: 600px;
}
.food .mark ul{
    width: 358px;
	height: 20px;
}
.food .mark ul li{
	height: 20px;
    margin-right: 12px;
}
.food .mark ul li a{
    font-family: PingFangSC-Regular;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
    color: #333333;
}
.food .mark ul li a:hover{
    color: #27ba9b;
}
.general .battle{
    position: relative;
    width: 1110px;
    height: 610px;
}
.battle .big{
    position: absolute;
    width: 242px;
    height: 610px;
    left: 0;
}
.big img{
    width: 242px;
    height: 610px;
}

.battle .various{
    position: absolute;
    right: 0;
    height: 610px;
    width: 868px;
    background-color: #fff;
}
.battle .various ul li{
    position: relative;
    height: 305px;
    margin-right: 5px;
    width: 210px;
    display: flex;
    justify-content: center;
}
.battle .various ul li img{
    height: 184px;
    width: 184px;
}
.various ul li .inform{
    position: absolute;
    bottom:20px;
    width: 166px;
    font-family: PingFangSC-Regular;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #333333;
}
/* 衣服 */
.general .clothes{
    position: relative;
    width: 1110px;
    height: 610px;
}

.clothes .big{
    position: absolute;
    width: 242px;
    height: 610px;
    left: 0;
}
.clothes img{
    width: 242px;
    height: 610px;
}

.clothes .various{
    position: absolute;
    right: 0;
    height: 610px;
    width: 868px;
    background-color: #fff;
}
.clothes .various ul li{
    position: relative;
    height: 305px;
    margin-right: 5px;
    width: 210px;
    display: flex;
    justify-content: center;
}
.clothes .various ul li img{
    height: 184px;
    width: 184px;
}
.clothes ul li .inform{
    position: absolute;
    bottom:20px;
    width: 166px;
    font-family: PingFangSC-Regular;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #333333;
}
.special{
    position: relative;
    height: 512px;
    width: 100%;
	background-color: #f5f5f5;
}
.special .topic{
    width: 1110px;
	height: 356px;
}
.special .topic ul li{
    position: relative;
    display: inline-block;
    margin-right: 5px;
    width: 365px;
	height: 356px;
    background-color: #fff;
}
.special .topic ul li img{
    width: 365px;
	height: 288px;
}

.topic ul li .to{
    background-image: url(../images/sprites.png);
    height: 13px;
    width: 15px;
    background-position: -120px -110px;
    position: absolute;
    left: 10px;
    top: 316px;
    margin-right: 10px;
}

.topic ul li p{
    position: absolute;
    left: 25px;
    top: 310px;
}
.topic ul li .number{
    position: absolute;
    right: 20px;
    top: 310px;
}
.topic ul li .people{
    display: inline-block;
    position: absolute;
    background-image: url(../images/sprites.png);
    height: 15px;
    width: 15px;
    background-position: -200px -110px;
    top: 316px;
    right: 50px;

}

.special .nav1{
    position: relative;
    width: 1100px;
    height: 80px;
}
.special .nav1 h3{
    display: inline-block;
    margin-right: 20px;

    font-family: PingFangSC-Regular;
	font-size: 29px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #333333;
}
.special .nav1 .dive{
    font-family: PingFangSC-Regular;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #999999;
    line-height: 112px;
}
.special .nav1 .run{
    display: inline-block;
    position: absolute;
    height: 30px;
    width: 25px;
    right: 0;
    top: 41px;
}
.special .nav1 .keep{
    position: absolute;
    height: 20px;
    width: 15px;
    right: 25px;
    top: 41px;
}
.special .nav1 .keep:hover,
.special .nav1 .run:hover{
    color: #27ba9b;
}
/* 官方信息 */
.office{
    height: 300px;
    width: 100%;
    background-color: #fff;
}
.office .for{
    height: 300px;
    width: 1110px;
    position: relative;
    display: flex;
    align-items: center;
}
.for .custom{
    position: relative;
    height: 150px;
    width: 200px;
    text-align: center;
}
.for .custom h4{
    font-family: PingFangSC-Regular;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #999999;
}
.for .custom .first .by{
    position: absolute;
    display: inline-block;
    background-image: url(../images/sprites.png);
    height: 28px;
    width: 41px;
    background-position: -250px -70px;
    top: 10px;
}.for .custom .first .by:hover{
    background-image: url(../images/sprites.png);
    height: 28px;
    width: 41px;
    background-position: -205px -70px;
}
.for .custom .first {
    position: absolute;
    bottom: 10px;
    width: 90px;
    height: 90px;
    margin-right: 5px;
    border: solid 1px #eeeeee;
    display: flex;
    justify-content: center;
    text-align: center;
}

.for .custom .first P{
    margin-top: 50px;
    font-family: PingFangSC-Regular;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #999999;
}

.for .custom .secondary .with{
    position: absolute;
    display: inline-block;
    background-image: url(../images/sprites.png);
    height: 30px;
    width: 35px;
    background-position: -348px -70px;
    top: 10px;
}
.for .custom .secondary .with:hover{
    background-image: url(../images/sprites.png);
    height: 30px;
    width: 30px;
    background-position: -300px -70px;
}
.for .custom .secondary {
    position: absolute;
    bottom: 10px;
    width: 90px;
    height: 90px;
    right: 10px;
    border: solid 1px #eeeeee;
    display: flex;
    justify-content: center;
    text-align: center;
}

.for .custom .secondary P{
    margin-top: 50px;
    font-family: PingFangSC-Regular;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #999999;
}

.office .our{
    position: relative;
    height: 150px;
    width: 200px;
    text-align: center;
    margin-left: 100px;
}

.office .our h4{
    font-family: PingFangSC-Regular;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #999999;
}

.office .our .forth{
    position: absolute;
    bottom: 10px;
    width: 90px;
    height: 90px;
    margin-right: 5px;
    border: solid 1px #eeeeee;
    display: flex;
    justify-content: center;
    text-align: center;
}
.office .our .forth .against{
    position: absolute;
    display: inline-block;
    background-image: url(../images/sprites.png);
    height: 28px;
    width: 41px;
    background-position:  -250px -15px;
    top: 10px;
}
.office .our .forth .against:hover{
    display: inline-block;
    background-image: url(../images/sprites.png);
    height: 28px;
    width: 41px;
    background-position: -205px -15px;
}
.for .our .forth p{
    margin-top: 50px;
    font-family: PingFangSC-Regular;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #999999;
}
.for .our .fifth{
    position: absolute;
    bottom: 10px;
    width: 90px;
    height: 90px;
    right: 10px;
    border: solid 1px #eeeeee;
    display: flex;
    justify-content: center;
    text-align: center;
}
.for .our .fifth .forward{
    position: absolute;
    display: inline-block;
    background-image: url(../images/sprites.png);
    height: 32px;
    width: 38px;
    background-position: -350px -70px;
    top: 10px;
}
.for .our .fifth .forward:hover{
    background-position: -300px -70px;
}

.fifth p{
    margin-top: 50px;
    font-family: PingFangSC-Regular;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #999999;
}



.office .us{
    position: relative;
	width: 241px;
	height: 156px;
    text-align: center;
    margin-left: 80px;
}
.us .box2{
    position: absolute;
    width: 120px;
    height: 103px;
    left: 0;
}
.us .box3{
    position: absolute;
    width: 120px;
    height: 103px;
    right: 0;
}
.office .us .bye img{
    width: 120px;
	height: 120px;
}
.bye p{
    font-family: PingFangSC-Regular;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #999999;
}
.office .us .bye .input1{
    margin-left: 10px;
    margin-top: 10px;
    width: 103px;
	height: 32px;
	background-color: #fff;
    border-radius: 20px;
    text-align: center;
    line-height: 32px;
    border: 1px solid #000;
}
.bye .input1 a{
    font-family: PingFangSC-Regular;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #333333;
}
.us .bye .input1:hover{
    background-color: #27ba9b;
    color: #27ba9b;
}
.office .us h4{
    font-family: PingFangSC-Regular;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #999999;
    margin-bottom: 30px;
}
.office .he{
    position: relative;
	width: 241px;
	height: 156px;
    text-align: center;
    margin-left: 80px;
}
.office .he h4{
    font-family: PingFangSC-Regular;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #999999;
    margin-bottom: 50px;
}
.office .he h5,
.office .he h6{
    margin: 0 auto;
    font-family: PingFangSC-Semibold;
	font-size: 22px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #666666;
}